body{
    font-family:'Times New Roman';
    font-size: 12px;
    font-weight: bold;
}
/*Header*/
#header{
    display:grid;
    grid-template-columns: 30% 70%;
}
/*Logo*/
#logo{   
    margin:0px 20px 0px 20px;
}
/*Navigation Buttons*/
#navigation{
    margin: 35px 0px 0px 0px;
}
/*Styling the links*/
#navigation>a{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
#navigation>a:hover{
    background-color: #c0c0c0;
    color:black;
}

/*Footer*/
#footer{
    display:grid;
    grid-template-columns: 100%;
    position: absolute;
    bottom: 0;
    width:100%;
    margin-left: -10px;
}
/*Prev-Next*/
#prev-next{
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: space-between;
    background-color: orangered;
}
/*Prev-Next Link Styling*/
#prev-next>a{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    margin:10px;
}
#prev-next>a:hover{
    background-color: #c0c0c0;
    color:black;
}
#next{
    content: "\2192";
}
#left{
    content:"\2190";
}
/*FAQ*/
#faq{
    background-color: #c0c0c0;
    color:black;
    text-align: center;
}
#faq>h1{
    letter-spacing: 1px;
}
/*FAQ_CONTENT*/
#faq-list{
    text-align: left;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
#faq-list>li{
    margin:10px 0px 10px 0px;
}